.footer-actions {
  height: 283px;
  background: url("../../assets/images/building.png");
  padding-top: 100px;
  button {
    margin: 20px;
    color: #fff;
    background-color: transparent;
    border: solid 1px #fff;
  }
}
