.footer-actions {
  height: 283px;
  background: url("../../assets/images/building.png");
  padding-top: 100px;
  color: #fff;
  button {
    margin: 20px;
    color: #fff;
    background-color: transparent;
    border: solid 1px #fff;
    padding: 12px 24px;
  }
  input {
    background: transparent;
    border: solid 1px #fff;
  }
}
