.footer-actions {
  height: 283px;
  background: url("../../assets/images/building.png");
  padding-top: 100px;
  color: #fff;
  button {
    margin: 20px;
    color: #fff;
    background-color: transparent;
    border: solid 1px #fff;
    padding: 12px 24px;
    border-radius: 4px;
    &:hover {
      color: #306503;
      background: #fff;
    }
  }
  .send-btn {
    background: #fff;
    margin: 5px;
    margin-top: 20px;
    // width: 20px;
    border-radius: 4px;
    padding: 3px 10px;
  }
  input {
    margin-top: 20px;
    width: 247px;
    height: 43px;
    padding: 12px 18px;
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
    color: #fff;
    font-family: ralewayR;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  ::placeholder {
    color: #fff !important;
  }
}
.partners {
  img {
    margin: 40px 80px;
  }
}
.credits {
  a {
    color: #fff;
    text-decoration: none;
  }
  background: #006011;
  padding: 20px;
  color: #fff;
}
