.boarding-div {
  margin-bottom: 100px;
  margin-top: 100px;
  .meals {
    border-radius: 8px;
    background: #006011;
    padding: 16px 20px;
    color: #fff;
    margin-left: 10px;
  }
  p {
    line-height: 35px;
  }
}
