.nav-container {
  padding: 10px;
  background: #fff;
  a {
    color: #000;
    text-decoration: none;
  }
}
.logo {
  margin-top: -50px;
  position: relative;
  z-index: 4;
}
.offcanvas {
  width: 70% !important;
}
.menu-actions {
  background: #f6f6f6;
  padding: 30px;
  .img-holder {
    position: relative;
    img {
      border-radius: 10px;

      margin-bottom: 30px;
    }
    .overlay {
      position: absolute;
      bottom: 100px;
      background: transparent; /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: 0.5s ease;
      opacity: 1;
      height: 10%;
      color: white;
      font-size: 20px;
      // padding: 20px;
      // padding-top: 60%;
      text-align: center;
      border-radius: 8px;
      button {
        background: transparent;
        border: solid 1px #fff;
        border-radius: 8px;
        color: #fff;
        padding: 5px 24px;
      }
    }
  }
}

.main-menu {
  cursor: pointer;
  position: relative;
}
.main-menu {
  &:hover .sub-menu {
    display: block;
    transition: 1s ease;
  }
}
.sub-menu {
  display: none;
  position:absolute;
}
.main-menu2 {
  cursor: pointer;
  position: relative;
}
.main-menu2 {
  &:hover .sub-menu2 {
    display: block;
    transition: 1s ease;
  }
}
.sub-menu2 {
  display: none;
}
