.nav-container {
  padding: 10px;
  background: #fff;
  a {
    color: #000;
    text-decoration: none;
  }
}
.logo {
  margin-top: -50px;
  position: relative;
  z-index: 4;
}
.offcanvas {
  width: 70% !important;
}
.menu-actions {
  background: #f6f6f6;
  padding: 30px;
  .img-holder {
    position: relative;
    img {
      border-radius: 10px;

      margin-bottom: 30px;
    }
    .overlay {
      position: absolute;
      z-index: 4;
      text-align: center;
    }
  }
}
ul,
li {
  list-style: none;
}
nav {
  width: 50%;
  height: 500px;
  padding: 1%;
  position: relative;
}
li {
  width: 20%;
  height: 100px;
  background: rgba(255, 255, 0, 0.3);
}
li:hover {
  background: rgba(255, 255, 0, 0.8);
}
section {
  display: block;
  width: 75%;
  height: 100%;
  position: absolute;
  right: 1%;
  top: -9999px;
  text-align: center;

  background: rgb(52, 152, 215);
  z-index: 10;
  margin-left: -9999px;
}

li[data-role="thumb-1"],
section[data-role="content-1"] {
  z-index: 1;
  top: 2%;
}

li[data-role="thumb-2"]:hover section[data-role="content-2"] {
  top: 2%;
}
li[data-role="thumb-3"]:hover section[data-role="content-3"] {
  top: 2%;
}
li[data-role="thumb-4"]:hover section[data-role="content-4"] {
  top: 2%;
}
