.nav-container {
  padding: 10px;
  background: #fff;
  a {
    color: #000;
    text-decoration: none;
  }
}
.logo {
  margin-top: -50px;
  position: relative;
  z-index: 4;
}
.offcanvas {
  width: 70% !important;
}
.menu-actions {
  background: #f6f6f6;
  padding: 30px;
  .img-holder {
    position: relative;
    img {
      border-radius: 10px;

      margin-bottom: 30px;
    }
    .overlay {
      position: absolute;
      bottom: 100px;
      background: transparent; /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: 0.5s ease;
      opacity: 1;
      height: 10%;
      color: white;
      font-size: 20px;
      // padding: 20px;
      // padding-top: 60%;
      text-align: center;
      border-radius: 8px;
      button {
        background: transparent;
        border: solid 1px #fff;
        border-radius: 8px;
        color: #fff;
        padding: 5px 24px;
      }
    }
  }
}

.nav-tab {
  margin-top: 30px;
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 25px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 30px;
    border-right: solid 1px rgb(159, 157, 157);
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    color: red;
  }

  /* Create an active/current "tab button" class */
  .tab button.active2 {
    color: red;
  }

  .tabcontent {
    float: left;
    padding: 0px 40px;

    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
    a {
      color: black;
      text-decoration: none;
      font-size: 20px;
      line-height: 60px;
    }
  }

  .tabcontent.active2 {
    display: block;
  }
}
.active {
  background: green !important;
}
