@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}
@font-face {
  font-family: cormorantB;
  src: url(./assets/fonts/Cormorant/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: ralewayR;
  src: url(./assets/fonts/raleway/Raleway-Medium.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cormorantB;
}

p,
small,
a,
button,
li {
  font-family: ralewayR;
}
