@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}
@font-face {
  font-family: cormorantB;
  src: url(./assets/fonts/Cormorant/CormorantGaramond-Bold.ttf);
}
