@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}
@font-face {
  font-family: coromontB;
  src: url(./assets/fonts/Rebond_font/RebondG.otf);
}
