@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}
@media screen and (max-width: 620px) {
  .flexyM {
    display: flex;
  }
}
@font-face {
  font-family: cormorantB;
  src: url(./assets/fonts/Cormorant/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: ralewayR;
  src: url(./assets/fonts/raleway/Raleway-Medium.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cormorantB;
}

p,
small,
a,
li {
  font-family: ralewayR;
}
button {
  font-family: cormorantB !important;
}
.app-btn {
  padding: 12px, 24px, 12px, 24px;
  border-radius: 4px;
  gap: 8px;
  background: #629948;
  color: #fff;
  border: none;
}
.mt {
  @media screen and (max-width: 620px) {
    margin-top: 10px;
  }
}
.wd {
  width: 97%;
  @media screen and (max-width: 620px) {
    width: 100%;
  }
}
