@import "../../shared-styles";

.landing-images {
  margin-top: -200px;
  @media screen and (max-width: 620px) {
    margin-top: -60px;
  }

  h1 {
    font-size: 88px;
    @media screen and (max-width: 620px) {
      font-size: 28px;
      font-weight: bolder;
    }
  }
  .carousel-caption {
    text-align: left !important;
  }
  .carousel-control-next-icon {
    background-image: url("../../assets/images/next.png");
    margin-top: 600px !important;
    position: relative !important;
    height: 36px !important;
    width: 36px !important;
    opacity: 1 !important;
    margin-left: 0% !important;
    @media screen and (max-width: 620px) {
      margin-top: 70px !important;
      margin-left: -750% !important;
    }
  }

  .carousel-control-prev-icon {
    background-image: url("../../assets/images/prev.png");
    margin-top: 600px !important;
    // transform: rotate(180deg);
    height: 36px !important;
    width: 36px !important;
    margin-right: -800% !important;
    opacity: 1 !important;
    @media screen and (max-width: 620px) {
      margin-top: 70px !important;
    }
  }

  .carousel-control-prev {
    left: 10% !important;
  }
  .carousel-control-next {
    right: 10% !important;
  }
  .carousel-indicators button {
    width: 7px !important;
    height: 7px !important;
    border-radius: 100% !important;
    background-color: #fff !important;
    transition: all 0.5s linear;
    display: inline !important;
    opacity: 0.7;
  }
  .carousel-indicators > button.active {
    opacity: 1;
    width: 60px !important;
    margin-top: 10px;
    height: 7px !important;
    background-color: #fff !important;
    outline: none;
    border: none;
    border-radius: 20px !important;
  }
  .carousel-indicators {
    margin-left: 75% !important;
    top: 90% !important;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
}
.welcome-div {
  h1 {
    font-size: 72px;
    @media screen and (max-width: 620px) {
      font-size: 32px;
    }
  }
}
.lifetime-div {
  background: #326f14;
  color: #fff;
  padding: 70px 0 70px 70px;
  margin-bottom: 100px;
  @media screen and (max-width: 620px) {
    padding: 20px;
  }
  h1 {
    font-size: 72px;
    @media screen and (max-width: 620px) {
      font-size: 32px;
    }
  }
  p {
    line-height: 36px;
  }
  .eyfs {
    position: relative;
    img {
      border-radius: 8px;
    }
    // padding-top: 350px;
    // border-radius: 18px;
    // background: url("../../assets/images/eyfs.png");
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: contain;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.1); /* Black see-through */
    color: #f1f1f1;
    width: 92%;
    transition: 0.5s ease;
    opacity: 1;
    height: 15%;
    color: white;
    padding: 20px;
    text-align: center;

    overflow: hidden;
    border-radius: 8px;
    @media screen and (max-width: 620px) {
      width: 100%;
      height: 20%;
    }
    h1 {
      font-size: 40px;
    }
    button {
      padding: 12px, 24px, 12px, 24px;
      border-radius: 4px;
      gap: 8px;
      background: transparent;
      color: #fff;
      border: solid 1px #fff;
    }
  }
}
.eyfs:hover .overlay {
  height: 100%;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
}
.explore {
  background: #c8352e;
  color: #fff;
  border-radius: 8px;
  padding: 40px;
  margin-right: 20px;
  @media screen and (max-width: 620px) {
    margin-right: 0px;
  }
  .second-title {
    margin-top: 400px;
  }
}
.facilities {
  img {
    border-radius: 8px;
  }
}
.facs {
  position: relative;
  img {
    border-radius: 8px;
  }
  // padding-top: 350px;
  // border-radius: 18px;
  // background: url("../../assets/images/eyfs.png");
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: contain;
}
.overlay2 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.1); /* Black see-through */
  color: #f1f1f1;
  width: 92%;
  transition: 0.5s ease;
  opacity: 1;
  height: 100%;
  color: white;
  font-size: 20px;
  padding: 20px;
  padding-top: 60%;
  text-align: center;
  border-radius: 8px;
}
.facs:hover .overlay2 {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.glance {
  margin-bottom: 80px;
  background: #f6f8f5;
  padding-top: 40px;
  padding-bottom: 40px;
  .sch,
  .uni {
    padding-top: 80px;
    padding-bottom: 50px;
    border-top: solid 4px #c8352e;
    border-right: solid 4px #c8352e;
  }
  .std,
  .parents {
    padding-top: 80px;
    padding-bottom: 50px;
    border-bottom: solid 4px #c8352e;
    border-right: solid 4px #c8352e;
  }
}
.stories {
  h1 {
    font-size: 64px;
    margin-bottom: 80px;
  }
}
