.news-tab {
  margin-bottom: 100px;
  @media screen and (max-width: 620px) {
  }
  .tabs2 {
    display: flex;

    width: 14%;
    padding: 5px;
    font-family: rebondG-Bold;
    @media screen and (max-width: 620px) {
      width: 40%;
      margin-top: 60px;
    }
  }
  @media screen and (max-width: 620px) {
    .tabs2 {
    }
  }

  .tab2 {
    width: 40%;
    background: #fff;
    padding: 0px 0;
    border: none;
    color: grey;
    // border-radius: 35px;
    font-size: 14px;
    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  button.active3 {
    font-weight: bold;
    border-bottom: solid 3px #0098da;
    color: #000;
  }
  .panel {
    display: none;
    color: #161617;
    font-family: rebondG;
    line-height: 40px;
    padding-top: 65px;
    background: #fff;
  }
}
