.senior-div {
  margin-bottom: 100px;
  margin-top: 100px;
  ul li {
    line-height: 45px;
  }
  p {
    line-height: 35px;
    // text-align: justify;
    padding-right: 30px;
  }
  img {
    border-radius: 8px;
  }
  h2 {
    color: #006011;
    // margin-top: 40px;
    font-size: 34px;
  }
  .math {
    margin-top: -180px;
    width: 90%;
    @media screen and (max-width: 620px) {
      margin-top: 50px;
    }
    img {
      width: 90%;
      @media screen and (max-width: 620px) {
        width: 100%;
      }
    }
  }
}
.uni-images {
  .carousel-control-next-icon {
    background-image: url("../../assets/images/next2.png");
    // margin-top: 600px !important;
    position: relative !important;
    height: 56px !important;
    width: 56px !important;
    opacity: 1 !important;
    margin-right: -250% !important;
    @media screen and (max-width: 620px) {
      margin-top: 70px !important;
      margin-left: -750% !important;
    }
  }

  .carousel-control-prev-icon {
    background-image: url("../../assets/images/prev2.png");

    height: 56px !important;
    width: 56px !important;
    margin-left: -250% !important;
    opacity: 1 !important;
    @media screen and (max-width: 620px) {
      margin-top: 70px !important;
    }
  }

  .carousel-control-prev {
    left: 10% !important;
  }
  .carousel-control-next {
    right: 10% !important;
  }
  .carousel-indicators button {
    width: 7px !important;
    height: 7px !important;
    border-radius: 100% !important;
    background-color: grey !important;
    transition: all 0.5s linear;
    display: inline !important;
    opacity: 0.7;
  }
  .carousel-indicators > button.active {
    opacity: 1;
    width: 60px !important;
    margin-top: 10px;
    height: 7px !important;
    background-color: red !important;
    outline: none;
    border: none;
    border-radius: 20px !important;
  }
  .carousel-indicators {
    margin-left: 5% !important;
    top: 100% !important;
    @media screen and (max-width: 620px) {
      display: none;
    }
  }
}
