.banner-holder {
  position: relative;
  img {
    margin-top: -100px;
  }
  .title-overlay {
    position: absolute;
    left: 40%;
    bottom: 0;
    h1 {
      color: #fff;
      font-size: 72px;
    }
  }
}
