.activity-div {
  margin-bottom: 100px;
  margin-top: 100px;

  p {
    text-align: justify;
  }
  img {
    border-radius: 8px;
  }
  .left {
    padding-left: 20px;
  }
  .right {
    padding-right: 20px;
  }
}
